

<% if @events.size == 0 %>
	<div style="text-align:center;margin-top:150px;">
		<p class="font-shadow" style="font-size:32px;margin-bottom:30px;">You don't have any events yet</p>
		<%= link_to 'Create New Event', {:controller => 'events', :action => 'create'}, :class => "btn btn-primary btn-large" %>
	</div>
<% else %>
	<div style="margin:10px;float:right">
	<%= link_to 'Create New Event', {:controller => 'events', :action => 'create'}, :class => "btn btn-primary" %>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>
					Event Name
				</th>
				<th>
					Event Date
				</th>
				<th>
					Created At
				</th>
				<th>
				</th>
				<th></th>
				<td>
				</td>
			</tr>
		</thead>
		<tbody>
			<% @events.each do |event| %>
				<tr>
					<td  style="width:30%;">
						<%= event.event_name %>
					</td>
					<td  style="width:20%;">
						<%= event.event_date.strftime "%d %B %Y" %>
					</td>
					<td  style="width:20%;">
						<%= event.created_at.strftime "%d %B %Y %H:%M" %>
					</td>
					<td style="width:5%;">
						<i class="icon-user"></i> <%= event.attendees.size %>
					</td> 
					<td style="width:5%;">
						<i class="icon-file"></i> <%= event.pdf_templates.size %>
					</td>
					<td style="text-align:right; width:20%">
						<%= link_to '<i class="icon-eye-open"></i> View', :action => 'view', :id => event.id %>
						<%= link_to '<i class="icon-trash"></i> Delete', :action => 'destroy', :id => event.id %>
					</td>
				</tr>
			<% end %>
		</tbody>

<% end %>


